# Aplicação
SERVER=
PORT=

# Ambiente
NODE_ENV=

# Banco de dados
DB_URI=

# MQTT
BROKER_URL=
BROKER_CLIENT_USERNAME=
BROKER_CLIENT_PASSWORD=

# SMTP
MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=

# Segurança
BCRYPT_SALT=
JWT_SECRET=
JWT_EXPIRES_IN=
CORS_ORIGIN=